// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-downy: #63d1bb;
$color-tundora: #444444;
$color-blue-chill: #149080;
$color-gallery: #ececec;
$color-seashell: #f1f1f1;
$color-thunder: #231f20;
$color-fountain-blue: #56c3b2;
$color-downy-shade-1: #62d1ba;
$color-downy-shade-2: #6bc6b3;
$color-alabaster: #f9f9f9;
$color-mercury: #e6e6e6;
