.events-navigation {
  display: flex;
  gap: 55px;

  &__link {
    font-size: 15px;
  }

  &__link:hover {
    opacity: 0.6;
  }

  &__link:focus {
    opacity: 0.3;
  }
}

@include tablet {
  .events-navigation {
    display: none;
  }
}
